.Button {
    padding: 10px 18px;
    cursor: pointer;
}

.clear,
.clearInverted {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}

.clear {
    color: var(--primary-color);
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outlined {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    transition:
        color 0.3s ease-out,
        border-color 0.3s ease-out;

    &:hover {
        color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
}

.background {
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: 0;
    transition: opacity 0.3s ease-out;

    &:hover {
        opacity: 0.7;
    }
}

.backgroundInverted {
    color: var(--inverted-primary-color);
    background-color: var(--inverted-bg-color);
    border: 0;
    transition: opacity 0.3s ease-out;

    &:hover {
        opacity: 0.7;
    }
}

.sizeM {
    font: var(--font-m);
}

.sizeL {
    font: var(--font-l);
}

.sizeXL {
    font: var(--font-xl);
}

.square {
    padding: 0;

    &.sizeM {
        min-width: var(--font-line-m);
        min-height: var(--font-line-m);
    }

    &.sizeL {
        min-width: var(--font-line-l);
        min-height: var(--font-line-l);
    }

    &.sizeXL {
        min-width: var(--font-line-xl);
        min-height: var(--font-line-xl);
    }
}
