.app.dark {
    --bg-color: #424242;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #e6e6e6;
    --secondary-color: #bcbcbc;

    --inverted-primary-color: #1e40af;
    --inverted-secondary-color: #60a5fa;
}