.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #424242;
    --primary-color: #1e40af;
    --secondary-color: #60a5fa;
    --inverted-primary-color: #e6e6e6;
    --inverted-secondary-color: #bcbcbc;
}
